html, body {
	min-height: 100%;
	font-family: 'Metal Mania', cursive;
}

h1, h2, h3, h4, h5, p, a, button {
	font-family: 'Metal Mania', cursive;
}

body {
	background: url(../img/bg3.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img#logo {
	width: 38px;
	margin-top: -8px;
}

.navbar-inverse {
	background-color: #000;
	margin-top: 20px;
}

.jumbotron {
	background-color: rgba(0,0,0,0.5);
}

.jumbotron h1, .jumbotron p {
	color: #fff;
}